In [1]:
import numpy as np
import pandas as pd

# Object Creation

In [40]:
df = pd.read_csv(r"D:\人工智能\数据集\energydata_complete_1000.csv")
# df2

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1182 entries, 0 to 1181
Data columns (total 29 columns):
date           1182 non-null object
Appliances     1182 non-null int64
lights         1182 non-null int64
T1             1182 non-null float64
RH_1           1182 non-null float64
T2             1182 non-null float64
RH_2           1182 non-null float64
T3             1182 non-null float64
RH_3           1182 non-null float64
T4             1182 non-null float64
RH_4           1182 non-null float64
T5             1182 non-null float64
RH_5           1182 non-null float64
T6             1182 non-null float64
RH_6           1182 non-null float64
T7             1182 non-null float64
RH_7           1182 non-null float64
T8             1182 non-null float64
RH_8           1182 non-null float64
T9             1182 non-null float64
RH_9           1182 non-null float64
T_out          1182 non-null float64
Press_mm_hg    1182 non-null float64
RH_out         1182 non-null float64
Windspeed      1182 non-null float64
Visibility     1182 non-null float64
Tdewpoint      1182 non-null float64
rv1            1182 non-null float64
rv2            1182 non-null float64
dtypes: float64(26), int64(2), object(1)
memory usage: 267.9+ KB

In [42]:
df.tail(2)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
1180,2016/1/19 21:40,100,10,19.70,39.530000,18.89,39.566667,20.100000,40.026667,20.10,...,16.29,34.863333,-3.90,758.2,92.0,1.333333,61.0,-5.07,19.232418,19.232418
1181,2016/1/19 21:50,110,10,19.73,39.333333,18.89,39.400000,20.033333,39.766667,19.96,...,16.29,34.730000,-3.75,758.2,91.5,1.166667,61.0,-4.98,17.204608,17.204608

In [46]:
print('df.index:', df.index)
print('df.columns:', df.columns)

df.index: RangeIndex(start=0, stop=1182, step=1)
df.columns: Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [48]:
df.to_numpy()

AttributeError: 'DataFrame' object has no attribute 'to_numpy'

In [ ]:
df.describe